body{
	background: white url('../images/bg.jpg');
	background-size: cover;

	font-family: 'Roboto', sans-serif;
}
.font-pacifico{
	font-family: 'Pacifico', cursive;
}
.navbar{
	border-radius: 0;
}

.album-art{
	width: 100%;
	padding: 10px;	
}